h1 {
    color:blue;
}

.purple {
    color: purple;
}

#purple {
    color: purple;
}

.red {
    color: red;
}
.make_me_bold {
    font-weight:500;
}

#background_black { background-color: black;}
body { background-image: linear-gradient(color, color); }
html {
  height: 100%;
  }
  body {
  background-image: linear-gradient(#d1a6a6, rgb(89, 155, 255));
  }