h1 {
    text-align: center;
    background-color: cadetblue;
    color: gold;
}

h3 {
    text-align: center;
    color:black;
    background-color: green;
    font-size: 20px;
    font-style: normal;
}

